[submodule "third_party/cmsis"]
	path = third_party/cmsis
	url = ../third_party_cmsis.git
	branch = .
[submodule "third_party/bounds_checking_function"]
	path = third_party/bounds_checking_function
	url = ../third_party_bounds_checking_function.git
	branch = .
