config DRIVERS
    bool "Enable Driver"
    default y
    help
      Answer Y to enable LiteOS support driver.

source "../../drivers/adapter/khdf/liteos_m/Kconfig"

# Device driver Kconfig import
osource "$(DEVICE_PATH)/drivers/Kconfig"
