config SHELL
    bool "Enable Shell"
    default n
    depends on DEBUG_VERSION
    select USE_SHELL
    help
      Answer Y to enable LiteOS support shell cmd.

config USE_SHELL
    bool
    default n

menu "Functionality of Shell"
    depends on SHELL

config SHELL_PRIO
    int "Shell Task Priority"
    default 3
    range 1 31
    depends on SHELL

config SHELL_STACK_SIZE
    int "Shell Task Stack Size"
    default 4096
    depends on SHELL

endmenu
